@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
Body{
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: Dancing Script, sans-serif;
}
a{
    text-decoration: none;
    color: black;
    
  }